.App {
  text-align: center;
}

.App button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 8px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}

.App button:hover{
  background-color: lightblue;
  color: #000;
}

.App h1{
  font-size: 20px;
}

.App button.bold{
  font-weight: bold;
}